$purple: #7853AA;
$lime_green: #ACD300;
$leafy_green: #45CB85;
$leafy_green_dim: #74CC9E;
$purple_blue: #6A7FDB;
$red_pink: #E06060;
$gray: #e0e0e0;
$gray_white: #F4F4F4;
$white: #fff;
$blue: #4678D6;
