@import './_colors.scss';

.drop-container {
  background-color: $gray_white;
  width: 80%;
  padding: 50px 0;
  border-radius: 7px;
  margin: auto;
}

.dropzone {
  margin: 10px 0;
}

.dropbox {
  margin: auto;
  max-width: 80%;
  height: 300px;
  border: 1.5px dashed rgb(102, 102, 102);
  border-radius: 7px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  color:$purple_blue;
}

.ui.button.upload-button {
  margin: 10px 0;
  background-color: $purple_blue;
  color: $white;
}

.ui.list.file-scroll {
  width: 100%;
  max-height: 1000px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.ui.list .item.file-row {
  text-align: left;
  padding: 10px 20px;
}

.file-info {
  float: left;
}

.accepted-file-icon {
  color: $leafy_green;
  float: right;
}

.rejected-file-icon {
  color: $red_pink;
  float: right;
}
