@import './_colors.scss';

.footer {
  background-color: $gray;
  color: $purple_blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
}

.footer-text {
  font-size: 15px;
}
