@import './_colors.scss';

.header {
  width: 100%;
  height: 120px;
  background-color: $purple;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  color: $lime_green;
  margin: 20px 50px;
}

.header-college {
  font-size: 25px;
  margin: 0 !important; // overriding default margin
}

.header-dept{
 font-size: 20px;
 margin: 0 !important; // overriding default margin
}
