@import '_colors';

.orig-img-info {
  padding: 30px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: $white;
}

.orig-img-info-sticky {
  background-color: $gray_white;
  border-radius: 7px;
  padding: 30px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.ui.image.orig-img {
  width: 575px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: all 0.3s;
}

.ui.image.min-orig-img {
  width: 200px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: all 0.3s;
}

.ui.table.orig-img-data, .ui.table.edit-output-table {
  font-size: 15px;
}

.ui.table.orig-img-data {
  margin: 0 25px;
}

.ui.table.edit-output-table {
  margin: 30px auto;
  width: 800px;
}
