@import './_colors.scss';

.app {
  text-align: center;
}

.page-view {
  text-align: center;
  padding: 50px 20px;
}

p.header-text {
  font-size: 25px;
  font-weight: 500;
}

.ui.button {
  font-family: 'Arvo', sans-serif !important;
}

.hide, .hidden {
  opacity: 0;
}
