@import './_colors.scss';

.content-container, .update-info-table {
  text-align: center;
}

.progress-bar {
  width: 70%;
  text-align: center;
  margin: auto !important;
}

.progress-bar.ui.green.progress .buffer.bar {
  background-color: rgb(189, 250, 168);
  z-index: -1;
}
