@import '_colors.scss';

.file-list-item {
  text-align: left;
  margin: 10px 0;
}

.ui.checkbox label {
  font-size: 17px !important;
}

.ui.checkbox input:checked ~ .box:before,
.ui.checkbox input:checked ~ label:before {
  background-color: $leafy_green !important;
  border: none;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  color: $white !important;
}
