@import '_colors.scss';

.ui.button.scroll {
  opacity: 0.7;
  background-color: $blue;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 5px;
  border: none;

  &:hover {
    opacity: 1;
  }
}

.ui.button .icon.arrow-up {
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px !important;
  margin-left: -12px !important;
}
