@import './_colors';

.ui.button.select, .ui.button.select:hover, .ui.button.select:focus, .ui.button.select:active {
  background-color: $leafy_green;
  color: $white;
}

.ui.button.unselect, .ui.button.unselect:hover, .ui.button.unselect:focus, .ui.button.unselect:active {
  background-color: $gray;
}

.ui.button.select-results {
  background-color: $purple;
  color: $white;
}

.ui.button.select-results {
  background-color: $blue;
  color: $white;
}
