@import "./_colors.scss";

.check-cell-text, .check-input, .update-buttons, .update-input {
  text-align: center;
}

.update-input .ui.input {
  width: 35px;
  height: 35px;
  overflow: visible;
}

.update-input input{
  padding: 2px;
  text-align: center;
  width: 36px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid $gray;
  font-family: 'Arvo', sans-serif;
}

.update-input input:focus, .update-input input:active {
  outline: none !important;
  border: 1px solid $blue !important;
}

.error-input input{
  border: 1px solid $red_pink !important;
}

.update-cell-text {
  margin: 7px 0;
}

.check-button, .check-button:hover, .check-button:focus, .check-button:active {
  background-color: $leafy_green;
  color: $white;
  width: 56px;
  height: 36px;
  border: none;
  border-radius: .28571429rem;
  outline: none;
  cursor: pointer;
}

.check-button:disabled {
  background-color: $leafy_green_dim;
}
