body {
  margin: 0;
  padding: 0;
  font-family: "Arvo", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px !important;
}

p {
  margin: 10px 0 !important;
  font-size: 17px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
